@font-face {
    font-family: open-sans-regular;
    src: url("../font/OpenSans-Regular.woff");
}
@font-face {
    font-family: open-sans-bold;
    src: url("../font/OpenSans-Bold.woff");
}

*{
    margin: 0;
    padding: 0;
}

/*for mobile*/

.header {
    background-image: url("../img/football_767.jpg");
}
.screen {
    display: flex;
    position: relative;
    background-color: #000000;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    justify-content: center;
    flex-wrap: wrap;
}
.screen::after{
    position: absolute;
    content: "";
    background-color: #191d3c;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.80;
}
.logo {
    display: block;
    position: relative;
    z-index: 3;
    fill: #ffffff;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.header .logo {
    margin-top: 30px;
    margin-bottom: 125px;
}
.header-text {
    display: block;
    position: relative;
    z-index: 3;
    color: #ffffff;
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 20px;
}
.header-text span {
    display: block;
    padding-top: 27px;
    padding-left: 64px;
    margin-bottom: 82px;
}

.buttons {
    display: flex;
    height: 84px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.buttons a{
    display: flex;
    position: relative;
    z-index: 3;
    background: #5e42b0; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 1px; /* Поля вокруг текста */
    border-radius: 20px; /* Уголки */
    font-size: 8px;
    text-decoration: none;
    width: 280px;
    height: 35px;
}
.buttons svg {
    margin-left: 80px;
}  
.buttons p{
    padding: 10px;
    font-family: open-sans-regular, sans-serif;
}
.buttons span{
    font-family: open-sans-bold, sans-serif;
}

/*section*/
.section-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content-header {
    display: block;
    margin-top: 24px;
    margin-left: 20px;
    color: #e7e7e7;
    text-transform: uppercase;
    background-color: #ffffff;
    font-family: open-sans-bold, sans-serif;
    font-size: 36px;
}

.content-header1 {
     display: none;
}
.poster {
    position: relative;
    z-index: 2;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    height: 290px;  
}

.athlets {
    background-image: url("../img/footballer_192.png");
}
.part-1 {
    margin-top: -55px;
    background-color: #fffff0;
    position: relative;
}
.number_header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 100%;
    height: 25px;
    padding-top: 60px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: open-sans-bold, sans-serif;
}
.part-1 .number_header{
  padding-top: 80px;
}
.number {
    display: block;
    margin-right: 10px;
    width: 15px; /*5%*/
    font-size: 12px; /*6.25vw;*/
    border-bottom: solid 4px #5b41ac;
    font-size: 14px;
}
.article-header {
    display: block;
    font-size: 12px;
    color: #c1c1c1;
    font-size: 23px;
}
.article-content{
    display: block;
    margin-left: 20px;
    padding-bottom: 50px;
    color: #000000;
    font-size: 15px;
    font-family: open-sans-regular, sans-serif;
}
.part-2 {
    background-color: #f0f0f0;
    width: 100%;
}
.part-3 {
    background-color: #5b41ac;
    width: 100%;
}
.part-3 .number {
    border-bottom: solid 4px #ffffff;
}
.part-3 .article-content {
    color: #ffffff;
}

.players {
   background-image: url("../img/basketballer_302.png");
}
.part-3-player {
   background-color: #080a33;
   width: 100%;
}
.part-3-player .number {
    color: #7a65c0;
    border-bottom: solid 4px #ffffff;
}
.part-3-player .article-content {
    color: #ffffff;
}

.active-1 {
 	background-image: url("../img/be-active_640.jpg");
}
.active-2 {
 	background-image: url("../img/find-contact_640.jpg");
}
.active-3 {
 	background-image: url("../img/work-it_640.jpg");
}

.poster-1 {
  width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
  -moz-background-size: contain;
	height: 400px;
}
.number-square{
  display: block;
	margin-top: -15%;
  margin-left: 5%;
	padding: 7%;
	background-color: #5c3eb2;
	width: 15px;
}
.number-square p{
	color: #ffffff;
	font-size: 14px; /*6.25vw;*/
	border-bottom: solid 4px #8d75c3;
	font-family: open-sans-bold, sans-serif;
}
.content-header-2 {
    display: block;
    margin-top: 36px;
    margin-left: 20px;
    color: #e7e7e7;
    text-transform: uppercase;
    background-color: #ffffff;
    font-family: open-sans-bold, sans-serif;
    font-size: 18px;
}
.text {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 20px;
    width: 87.5%;
    font-size: 16px;
    font-family: open-sans-regular, sans-serif;       
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../img/game_767.jpg");
    height: 565px;
}
.footer-logo {
    margin:auto;
    margin-top: 60px;
    height: 60px;
    display: block;
    z-index: 3; 
    padding: 12px 7px;
    border-radius: 20px;
    background-color: #724ad1;
    margin-bottom: 10px;
}
.footer-content {
    width: 100%;
    text-align: center;
}

.footer h2 {
    width: 100%;
    text-align: center;
    margin-top: 55px;
    position: relative;
    z-index: 3;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: open-sans-bold, sans-serif;
}
.footer .footer-text {
    position: relative;
    z-index: 3;
    margin-top: 12px;
    margin-bottom: 70px;
    color: #716f96;
    text-transform: uppercase;
    font-size: 14px;
    font-family: open-sans-bold, sans-serif;
}


@media (min-width:421px) and (max-width:960px) {
    .header {
        background-image: url("../img/football_1280.jpg");
    }
    .screen {
       heigth: 954px;
    }   
    .header-text{
       font-size: 32px;
       padding-left: 86px;
    }
    .header-text span{
       margin-top: -20px;
       padding-left: 105px;
       margin-bottom: 130px;
     }
    .header .logo {
        margin-top: 35px;
        margin-bottom: 175px;
        width: 27%;
    }
    .buttons {
       height: 75px;
       width: 87%;
       flex-direction: row;
       justify-content: space-between;
       margin-bottom: 90px;
    }

   .buttons a{
       /*padding: 1px; /* Поля вокруг текста */
       /*border-radius: 20px; /* Уголки */
       /*font-size: 8px; */
       width: 47%;
       height: 58px;
    }

    .buttons p{
       font-size: 1,5em;
    }
    .buttons svg{
       margin-left: 15%;
    }

    .section-1 {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .section-2 {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .content-header {
        display: none;
    }
    .poster { 
        position: absolute;
        height: 747px; 
    }
    .athlets {
        left: -40%;

    }
    .players {
        left: 40%;
    }
    .parts {
        position: relative;
        margin-top: 100px;
	      width: 100%;
     } 
    .content-header1 {
        display: block;
        color: #e7e7e7;
        text-transform: uppercase;
        background-color: #ffffff;
        font-family: open-sans-bold, sans-serif;
        font-size: 36px
    }
    .part1 {
        margin-top: 0;
    } 
    .section-1 .content-header1 {
        margin-left: 33%;
    }
    .section-1 .number_header {
        margin-left: 33%;
    }
    .section-1 .article-content {
        margin-left: 33%;
    }
    .section-2 .content-header1 {
        margin-left: 3%;
    }
    .section-2 .number_header {
        margin-right: 33%;
    }
    .section-2 .article-content {
        margin-right: 33%;
    }
    .active-1 {
 	      background-image: url("../img/be-active_960.jpg");
    }
    .active-2 {
 	      background-image: url("../img/find-contact_960.jpg");
    }
    .active-3 {
 	      background-image: url("../img/work-it_960.jpg");
    }

   .poster-1 {
	     width: 100%;
	     height: 590px;
   }
   .footer {
        background-image: url("../img/game_1280.jpg");
        height: 600px;
   }

 }

@media (min-width:961px) {
    .header {
        background-image: url("../img/football_1280.jpg");
    }
    .screen {
       height: 954px;
    }   
    .header-text{
       width: 100%;
       font-size: 350%;
       padding-left: 195px;
    }
    .header-text span{
       margin-top: -30px;
       padding-left: 250px;
       margin-bottom: 215px;
     }
    .header .logo {
        margin-top: 40px;
        margin-bottom: 280px;
        width: 200px;
    }
    .buttons {
       height: 90px;
       width: 675px;
       flex-direction: row;
       justify-content: space-between;
       margin-bottom: 110px;
    }

   .buttons a{
       padding: 1px; /* Поля вокруг текста */
       border-radius: 40px; /* Уголки */
       font-size: 8px;
       text-decoration: none;
       width: 310px;
       height: 76px;
    }

    .buttons svg {
       width: 46px;
     }  
    .buttons p{
       font-size: 15px;
       padding-top: 20px;
       font-family: open-sans-regular, sans-serif;
    }
    .buttons span{
       font-family: open-sans-bold, sans-serif;
    }

    .section-1 {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .section-2 {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .content-header {
        display: none;
    }
    .poster { 
        position: absolute;
        height: 747px; 
    }
    .athlets {
        left: -20%;

    }
    .players {
        left: 20%; 
    }
    .parts {
        position: relative;
        margin-top: 100px;
	width: 100%;
     } 
    .content-header1 {
        display: block;
        color: #e7e7e7;
        text-transform: uppercase;
        background-color: #ffffff;
        font-family: open-sans-bold, sans-serif;
        font-size: 36px
    }
    .part1 {
        margin-top: 0;
    } 
    .section-1 .content-header1 {
        margin-left: 45%;
	      margin-right: 5%;
    }
    .section-1 .number_header {
        margin-left: 45%;
	      margin-right: 5%;
    }
    .section-1 .article-content {
        margin-left: 45%;
	      margin-right: 5%;
    }
    .section-2 .content-header1 {
        margin-left: 3%;
    }
    .section-2 .number_header {
        margin-right: 55%;
    }
    .section-2 .article-content {
        margin-right: 55%;
    }
    .article-active {
        display: flex;
        flex-wrap: wrap;
    }
    .active-1 {
 	      background-image: url("../img/be-active_1024.jpg");
    }
    .active-2 {
      	background-image: url("../img/find-contact_1024.jpg");
    }
    .active-3 {
 	      background-image: url("../img/work-it_1024.jpg");
    }

   .poster-1 {
	    width: 40%;
	    background-size: cover;
      height: 465px;
   }
   .article-active:nth-child(even) {
        flex-direction: row-reverse;
    }
   .content-active {
        width: 50%;
        padding-left: 30px;
        margin-top: 180px;
   }
   .number-square {
       margin-top: 180px;
       margin-left: -60px;
       margin-right: -30px;
       padding: 58px;
       height: 20px;
       z-index: 2;
   }
   .number-square p{
      font-size: 24px; /*6.25vw;*/   
   } 
   .content-header-2 {
      margin-top: 0;
      font-size: 70px;
      margin-right: 100px;
    }
   .text {
      font-size: 24px;
    }

   .footer {
       background-image: url("../img/game_1920.jpg");
       height: 960px;
       align-items: center;
   }

   .footer-logo {
       display: block;
       margin-left: 20%;
       padding: 35px 32px;
       border-radius: 20px;
       background-color: #724ad1;
       margin-right: 20px;
       margin-bottom: 10px;
       flex-direction: row;
       justify-content: flex-end;
   }
   
   .footer-content { 
       margin-top: 40px;
       width: 55%;
       text-align: left;
   }
   .footer h2 {
       width: 100%;
       text-align: left;
       margin-top: 70px;
       position: relative;
       font-size: 80px;
   }
   .footer-text p {
       font-size: 30px;
   }
 
   .footer .buttons p {
       position: relative;
       margin-top: 12px;
       margin-bottom: 70px;
       font-size: 14px;
   }
   .footer .logo {
       width: 200px;
   }
}
